<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" >

  <targets>
    <default-target-parameters xsi:type="File" keepFileOpen="true"/>

    <target name="main_log_file" 
            xsi:type="File" 
            fileName="c:\temp\serialization_tool_main.log" 
            layout="${date:format=dd.MM.yyyy HH\:mm\:ss.fff} ${level} ${message} ${onexception:inner=${newline}${exception:format=Message,StackTrace}} ${newline} (${stacktrace:topFrames=5})"
            archiveFileName="${basedir}\logs\main.{#####}.log"
            archiveAboveSize="10485760"
            archiveNumbering="Sequence"
            maxArchiveFiles="10"
            concurrentWrites="true" />
    
  </targets>

  <rules>
    <logger name="main" minlevel="Trace" writeTo="main_log_file" />
  </rules>
</nlog>